/* Example styling for content scripts */
body {
    border: 2px solid red;
  }
  

  
/* tooltip styles */
.tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  display: none;
  z-index: 9999;
  max-width: 250px;
}

.tooltip::after {
  content: '';
  position: absolute;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent rgba(0, 0, 0, 0.7) transparent;
  top: 100%;
  left: 50%;
  margin-left: -10px;
}

.tooltip.show {
  display: block;
}
